.message{
    line-height: 0.4rem;
    border-bottom: 1px solid #dddddd;
    padding-left: 5%;
    input{
        border: none;
        outline: none;
    }
}
.ok{
    width:90%;
    margin: 5%;
    position: fixed;
    bottom: 0px;
    line-height: 0.4rem;
    border: 1px solid #dddddd;
    background: black;
    color: white;
    text-align: center;
}