.bg{
    width:100%;
    height: 100%;
    background-image: url(http://img.cdn.aplum.com/o_1c8k8hced7lgk8c1eci1h3g1nq.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    
}
.logo{
    width:60%;
    margin-top:20%;
    margin-left: 20%;
}
.loginin {
    margin-left: 2%;
    width: 96%;
    height: 0.4rem;
    background: #A7252E;
    color: #fff;
    line-height: 0.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 0.2rem;
    margin-top: 90%;
}