.ban{
    margin: 5%;
    
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content.column-num-3 .am-grid-text{
    font-size:10px;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 50% !important
}